<mat-card>
    <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <h2>Log In</h2>

            @if (!loginValid) {
            <mat-error>
                The username or password are invalid
            </mat-error>
            }

            @for (field of [
            { placeholder: 'User name', type: 'text', model: 'username', name: 'username', required: true, error:
            'Please
            provide a valid user name' },
            { placeholder: 'Password', type: 'password', model: 'password', name: 'password', required: true, error:
            'Please provide a valid password' }
            ]; track field.name) {
            <mat-form-field>
                <input matInput [placeholder]="field.placeholder" [(ngModel)]="this[field.model]" [name]="field.name"
                    [required]="field.required" [type]="field.type">
                <mat-error>
                    {{ field.error }}
                </mat-error>
            </mat-form-field>
            }

            <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">
                Login
            </button>
        </form>
    </mat-card-content>
</mat-card>