<p-splitter [panelSizes]="panelSizes" [style]="{ height: '660px' }" class="mb-8">
  <!-- left panel of the splitter -->
  <ng-template #panel>
    <!-- stop information panel -->
    @if (infoStop) {
    <div class="info-stop-panel">
      <button class="close-btn" (click)="closeInfoPanel()">✕</button>

      <!-- title with stop code and name -->
      <h2 class="stop-title">
        <span class="stop-code">{{ infoStop.stopCode }}</span>
        <span class="stop-name">{{ infoStop.stopName }}</span>
      </h2>

      <!-- list of lines that arrive at this stop -->
      <h3>lines that arrives:</h3>
      <ul>
        @for (line of infoStop.arrivalLines; track line.lineCode) {
        <li>
          <div class="line-info">
            <span class="line-code">{{ line.lineCode }}</span>
            <span class="line-name">{{ line.lineName }}</span>
          </div>

          <!-- ETA -->
          <div class="arrival-time">
            {{ getEstimatedTime(line.lineCode) }}
          </div>
        </li>
        }
      </ul>
    </div>
    }

    <!-- bus information panel (chart + ordered ETA) -->
    @else {
    <div class="info-stop-panel">
      <button class="close-btn" (click)="closeInfoPanel()">✕</button>

      <!-- bus location history chart -->
      <canvas id="bus-locations-logs"></canvas>

      <!-- list of stops with calculated ETA -->
      @if (showStopsETAUnderChart) {
      <h3 class="mt-3">estimated time per stop</h3>
      <ul>
        @for (item of orderedStopsETA; track item.stop.codParada) {
        <li>
          <!-- stop information -->
          <div class="line-info">
            <span class="line-code">{{ item.stop.codParada }}</span>
            <span class="line-name">{{ item.stop.nombreParada }}</span>
          </div>

          <!-- eta in minutes -->
          <div class="arrival-time">
            {{ item.eta >= 0 ? (item.eta | number : '1.0-0') + ' min' : '--' }}
          </div>
        </li>
        }
      </ul>
      }
    </div>
    }
  </ng-template>

  <!-- right panel (main map) -->
  <ng-template #panel>
    <div id="map" style="height: 660px; width: 100%"></div>
  </ng-template>
</p-splitter>
