<p-splitter [panelSizes]="panelSizes" [style]="{ height: '660px' }" class="mb-8">
  <!-- Panel de info de parada -->
  <ng-template #panel>
    @if (infoStop) {
    <div class="info-stop-panel">
      <button class="close-btn" (click)="closeInfoPanel()">✕</button>

      <h2 class="stop-title">
        <span class="stop-code">{{ infoStop.stopCode }}</span>
        <span class="stop-name">{{ infoStop.stopName }}</span>
      </h2>

      <h3>Líneas que pasan:</h3>
      <ul>
        @for (line of infoStop.arrivalLines; track line.lineCode) {
        <li>
          <div class="line-info">
            <span class="line-code">{{ line.lineCode }}</span>
            <span class="line-name">{{ line.lineName }}</span>
          </div>
          <div class="arrival-time">
            {{ getEstimatedTime(line.lineCode) }}
          </div>
        </li>
        }
      </ul>
    </div>
    } @else {
    <div class="info-stop-panel">
      <button class="close-btn" (click)="closeInfoPanel()">✕</button>
      <canvas id="bus-locations-logs"></canvas>
    </div>

    }
  </ng-template>

  <!-- Panel de mapa -->
  <ng-template #panel>
    <div id="map" style="height: 660px; width: 100%"></div>
  </ng-template>
</p-splitter>
